main {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
}

.tabuleiro div input {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    font-size: 100px;
}
body {
    background-image: url(https://media.istockphoto.com/id/989794366/pt/vetorial/tic-tac-toe-back-to-school-background-doodle-tic-tac-toe-game-pen-and-pencil-vector.jpg?s=170667a&w=0&k=20&c=cBAKHrPnmn0X3K0Bo0Mm8BB3iEQf1UNUVWq8UF2BGc4=);
    backdrop-filter: blur(2px);
    height: 705px;
    border-radius: 20px;
}