main {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
}

.tabuleiro div input {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    font-size: 100px;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB18DzQkdv4e7rs5ldyMZHEGcs0Tom4hIf8dHaqtCRs9o-gDJgKie4PrzEzk9yBrmSvNo&usqp=CAU);
    backdrop-filter: blur(1px);
    height: 705px;
    border-radius: 20px;
}